html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#dashboard button {
    width: 200px;
    height: 120px;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: all .2s ease;
}

    #dashboard button:hover {
        transform: translateY(-4px);
    }
